<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>A Page for {{ name }}</h3>
    <p>Device controls and content go here. The footer at the bottom can be used to select a device specifically for {{ name }}. This page only displays BLE devices advertising the UART service.</p>
    <h5>Device connection status symbols</h5>
    <ion-list no-lines>
        <ion-item>
            <ion-icon item-end name="checkmark-circle"></ion-icon>
            Connected, current page
        </ion-item>
        <ion-item>
            <ion-icon item-end name="alert"></ion-icon>
            Disconnected, current page
        </ion-item>
        <ion-item>
            <ion-icon item-end name="checkmark"></ion-icon>
            Connected
        </ion-item>
        <ion-item>
            <ion-icon item-end name="">!</ion-icon>
            Disconnected
        </ion-item>
        <ion-item>
            <ion-spinner item-end name="bubbles"></ion-spinner>
            Connection in progress
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="blelist && blelist.visibleState != 'visible'">
        <span *ngIf="blelist">{{ deviceDisplayName }}</span>
        <ion-buttons end>
            <button ion-button (click)="switchDevice()">Switch device</button>
        </ion-buttons>
    </ion-toolbar>
    <blelist #blelist *ngIf="showlist" (deviceSelected)="deviceSelected($event)" [services]="services"></blelist>
</ion-footer>
