<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>A device page for {{ name }}</h3>
    <p>Device controls and content go here. The footer at the bottom can be used to select a device specifically for {{ name }}.</p>
</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="blelist && blelist.visibleState != 'visible'">
        <span *ngIf="blelist">{{ deviceDisplayName }}</span>
        <ion-buttons end>
            <button ion-button (click)="switchDevice()">Switch device</button>
        </ion-buttons>
    </ion-toolbar>
    <blelist #blelist *ngIf="showlist" (deviceSelected)="deviceSelected($event)"></blelist>
</ion-footer>
